.main-block {
    width: 540px;
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.block-content {
    padding: 50px 24px;
    background: #F8F8F7;
    border-radius: 8px 8px 0px 0px;
    height: 204px;
}

.block-footer {
    height: 96px;
}

.emails-input-block {
    height: 96px;
    margin: 24px 0;
}

.operation-button {
    background: #4262FF;
    border-radius: 6px;
    padding: 6px 16px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    border: none;
    cursor: pointer;
}